@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
}

* {
  box-sizing: border-box;
}

.body {
  background-color: #e5e5e5;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

html {
  font-family: 'Muller', sans-serif;
}

.container {
  width: 1170px;
  margin: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

/* header---------------------------------------------------- */

.header-top,
.header-bottom,
.header-top-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 261px;
  height: 54px;
}

.header-phone-number {
  margin-left: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666666;
}

.header-button-account {
  padding-left: 28px;
  background: url(/img/Vector.png) no-repeat left;
  color: #CC9933;
}

.nav-list {
  display: flex;
}

.nav-link {
  color: #666666;

}

.nav-item:not(:last-child) {
  margin-right: 45px;
}

.header-top {
  margin-top: 30px;
}

.header-bottom {
  margin-top: 30px;
  padding: 27px 45px;
  background: #FFFFFF;
  border-radius: 15px;
}

.bottom-right-link {
  padding: 13px 20px;
  border: 1px solid;
  border-radius: 10px;
  color: #CC9933;
}

.bottom-right-link:not(:last-child) {
  margin-right: 40px;
}

/* Special------------------------------------------ */


.section-headings {
  margin-top: 70px;
  margin-bottom: 20px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.special-list {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 540px;
  flex-wrap: wrap;
}

.special-item:nth-child(1),
.special-item:nth-child(2) {
  width: 573px;
  height: 258px;
  padding: 40px 108px 40px 45px;
  border-radius: 15px;
  background-size: contain;
}

.special-item:nth-child(1) {
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(/img/Rectangle15.jpg);
  margin-bottom: 24px;
}

.special-item:nth-child(2) {
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(/img/Rectangle16.jpg);
}

.special-item-heading {
  margin: 0;
  width: 420px;
  height: 80px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #FFFFFF;
}

.special-item-price {
  margin-top: 15px;
  margin-bottom: 47px;
  font-size: 20px;
  color: #FFFFFF;
}

.special-item-link {
  color: #F0BF5F;
  padding-right: 15px;
  background: url(/img/Rectangle\ 2.svg) no-repeat right;
}

.special-item:nth-child(3) {
  width: 573px;
  height: 540px;
  padding: 212px 229px 40px 45px;
  background: url(/img/33.jpg) center center no-repeat #FFFFFF;

}

.special-item:nth-child(3) .special-item-heading {
  width: 299px;
  height: 180px;
  font-size: 60px;
  line-height: 60px;
}

.special-item:nth-child(3) .special-item-price {
  font-size: 30px;
}

/* About-us --------------------------------*/

.about-us-descriptions {
  width: 888px;
}

.section-descriptions {
  line-height: 32px;
  color: #000000;
}

/* Services ---------------------------- */

.services-list {
  height: 684px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

.services-item {
  width: 573px;
  height: 330px;
  padding-top: 191px;
  padding-bottom: 35px;
  padding-left: 45px;
  border-radius: 15px;
  background: url(/img/10.jpg) center top no-repeat #FFFFFF;
}

.services-item:nth-child(2) {
  background: url(/img/15.jpg) center top no-repeat #FFFFFF;
}

.services-item:nth-child(3) {
  background: url(/img/12.jpg) center top no-repeat #FFFFFF;
}

.services-item:nth-child(4) {
  background: url(/img/carlo-d-agnolo-aFxSh_l4fbY-unsplash.jpg) center top no-repeat #FFFFFF;
}

.services-link {
  padding-right: 15px;
  background: url(/img/Rectangle\ 2.svg) no-repeat right;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #F0BF5F;
}

.services-description {
  width: 402px;
  height: 64px;
}

/* Advantages --------------------------------- */

.advantages-list {
  height: 574px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

.advantages-item {
  width: 276px;
  height: 276px;
  padding-top: 40px;
  padding-bottom: 42px;
  padding-left: 45px;
  border-radius: 15px;
  background-color: #FFFFFF;
}

.advantages-icon {
  width: 66px;
  height: 66px;
  background: url(/img/bathtub.png);
}

.advantages-item:nth-child(2) .advantages-icon {
  background: url(/img/hanger.png);
}

.advantages-item:nth-child(3) .advantages-icon {
  background: url(/img/heating.png);
}

.advantages-item:nth-child(4) .advantages-icon {
  background: url(/img/hotel-key.png);
}

.advantaged-description {
  margin-top: 10px;
  width: 189px;
  height: 128px;
}

/* Placement ---------------------------- */

.placement-list {
  height: 1368px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

.placement-item {
  width: 374px;
  height: 440px;
  padding-top: 249px;
  padding-right: 45px;
  padding-bottom: 45px;
  padding-left: 45px;
  border-radius: 15px;
  background: url(/img/23.jpg) center top no-repeat #FFFFFF;
}

.placement-cost-and-rating {
  display: flex;
  justify-content: space-between;
}

.placement-cost {
  color: #999999;
}

.placement-price {
  padding-left: 4px;
  padding-right: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.placement-night {
  color: #000000;
}

.placement-rating {
  display: flex;
  width: 94px;
  justify-content: space-between;
}

.placement-rating-star {
  width: 14px;
  height: 14px;
  background: url(/img/star.png);
}

.placement-rating-star-empty {
  width: 14px;
  height: 14px;
  background: url(/img/star-empty.png);
}

.placement-hotel-name {
  margin-top: 16px;
  color: #000000;
}

.placement-location {
  margin-top: 16px;
  color: #999999;
}

.placement-link {
  display: inline-block;
  margin-top: 20px;
  padding: 13px 20px;
  color: #CC9933;
  border: 1px solid;
  border-radius: 10px;
}

.placement-link-all {
  padding-right: 15px;
  color: #FFFFFF;
  background: url(/img/Rectangle-empty.svg) no-repeat right;
}



.placement-item:nth-child(2) {
  background: url(/img/24.jpg) center top no-repeat #FFFFFF;
}

.placement-item:nth-child(3) {
  background: url(/img/26.jpg) center top no-repeat #FFFFFF;
}

.placement-item:nth-child(4) {
  background: url(/img/29-1.jpg) center top no-repeat #FFFFFF;
}

.placement-item:nth-child(5) {
  background: url(/img/30.jpg) center top no-repeat #FFFFFF;
}

.placement-item:nth-child(6) {
  background: url(/img/31.jpg) center top no-repeat #FFFFFF;
}

.placement-item:nth-child(7) {
  background: url(/img/27.jpg) center top no-repeat #FFFFFF;
}

.placement-item:nth-child(8) {
  background: url(/img/29.jpg) center top no-repeat #FFFFFF;
}

.placement-item:nth-child(9) {
  padding-top: 373px;
  padding-left: 54px;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  padding-right: 15px;
  background: url(/img/41.jpg) center center no-repeat #FFFFFF;
}

/* Want-tour-form ------------------------------- */

.form-container {
  margin-top: 70px;
  width: 1170px;
  height: 256px;
  background: #e9e9e9;
  border-radius: 15px;
  color: #000000;
}

.form-heading {
  padding-top: 45px;
  margin-top: 0;
  margin-left: 40px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}

.form-list {
  width: 1080px;
  margin-left: 45px;
  padding: 28px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  border-radius: 15px;
}

.item-name {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 12px;
}

.form-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  border: none;
  color: #000000;
}

.select-text {
  appearance: none;
  width: 169px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  background: url(/img/rectangle45.png);
  background-repeat: no-repeat, repeat;
  background-position: right center; 
  border: none;
  color: #000000;
}

.form-btn {
  padding: 13px 30px;
  border: 1px solid #CC9933;
  border-radius: 10px;
  color: #CC9933;
}


/* Contacts ---------------------------- */

.contacts-info {
  padding: 45px;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts-item {
  display: flex;
}

.contacts-item:not(:last-child) {
  padding-bottom: 23px;
  border-bottom: 1px solid #e9e9e9;
}

.contacts-item-left {
  min-width: 145px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.contacts-item-right {
  max-width: 229px;
  line-height: 24px;
  color: #000000;
}

.contacts {
  line-height: 24px;
  color: #CC9933;
}

.contacts-item-right-description {
  color: #999999;
}

.contacts-route-creating {
  padding: 27px 29px;
  color: #CC9933;
  border: 1px solid;
  border-radius: 10px;
}

.contacts-image {
  width: 653px;
  height: 528px;
  background: url(/img/Layer21.jpg);
  border-radius: 10px;
}

/* Footer ------------------------------- */

.footer-container {
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 45px;
  display: flex;
  background: url(/img/frame11.png) no-repeat bottom #333333;
  border-radius: 15px;
  background-position-x: 738.62px;
}

.footer-info {
  margin-right: 125px;
}

.footer-contacts {
  margin-right: 269px;
}

.about-company,
.footer-description {
  width: 302px;
  line-height: 30.4px;
  color: #FFFFFF;
}

.about-company {
  margin-bottom: 37px;
}

.footer-description {
  margin-bottom: 40px;
}

.user-agreement {
  line-height: 24px;
  color: #CC9933;
}

.footer-location {
  margin-bottom: 15px;
  line-height: 30px;
  color: #FFFFFF;
}

.footer-phone {
  margin-bottom: 15px;
}

.tripadvisor,
.odnoklassniki,
.vkontakte {
  width: 25px;
  height: 25px;
}

.tripadvisor {
  margin-bottom: 20px;
  background: url(/img/Group.png);
}

.odnoklassniki {
  margin-bottom: 20px;
  background: url(/img/ok.png);
}

.vkontakte {
  background: url(/img/social.png);
}

