@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/MullerRegular.woff2') format('woff2'),
  url('../fonts/MullerRegular.woff') format('woff');
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  src: local(''),
  url('../fonts/MullerMedium.woff2') format('woff2'),
  url('../fonts/MullerMedium.woff') format('woff');
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/MullerLight.woff2') format('woff2'),
  url('../fonts/MullerLight.woff') format('woff');
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('../fonts/MullerBold.woff2') format('woff2'),
  url('../fonts/MullerBold.woff') format('woff');
}

* {
  box-sizing: border-box;
}

.body {
  background-color: #F1F1F1;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

html {
  font-family: 'Muller', sans-serif;
}

.container {
  width: 1170px;
  margin: auto;
}

.header-top,
.header-bottom,
.header-top-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 261px;
  height: 54px;
}

.header-phone-number {
  margin-left: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666666;
}

.header-button-lk {
  color: #CC9933;
}

.nav-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 45px;
}

.header-top {
  margin-top: 30px;
}
.header-bottom {
  margin-top: 30px;
  padding: 27px 45px;
  background: #FFFFFF;
  border-radius: 15px;
}

.bottom-right-link {
  color: #CC9933;
}
